DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST:5432/LV_ProcessPolicies_DB?sslmode=prefer
SECRET_KEY=your_super_secret_random_string_here
ALGORITHM=HS256

UTHO_ENDPOINT_URL=https://your-bucket-endpoint/
UTHO_ACCESS_KEY=your_access_key
UTHO_SECRET_KEY=your_secret_key
BUCKET_NAME=your_bucket_name
